body {
    font-family: Georgia, serif;
    margin: 20px;
    background: #fbe3e8;
}
h1 { color: #1a5754; }
h2 { 
    margin-top: 0;
    color: #5cbdb9;
}
.row {
display: flex;
flex-direction: row;
gap: 15px;
flex-wrap: wrap;
margin-bottom: 24px;
}
figure {
text-align: center;
margin: 0;
flex: 1;
flex-direction: column;
}
figure img {
max-width: 100%;
border: 1px solid #ccc;
border-radius: 6px;
}
figcaption {
font-size: 1.1em;
color: #555;
margin-top: 4px;
}
img {
    width: 300px;
    height: auto;
}
.container {
  background: #fff;            
  border: 1px solid #ccc;   
  border-radius: 8px;       
  padding: 20px;           
  margin: 20px 0;          
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}
p {
 color: #121212;
 font-size: 1.1em;
 text-align: justify;
}
